export IAKA="Hello Iaka"
#put your env variables here then source it in your Linux env with direnv or source .envrc
export registryUrl="ghcr.io"
export registryUsername=avrabie
export registryToken=<your_github_token>

```
